# Módulo 10. Tasca 01. Web Scraping
## By José Manuel Castaño

## - Exercici 1

Realitza web scraping de dues de les tres pàgines web proposades utilitzant BeautifulSoup primer i Selenium després. 

- http://quotes.toscrape.com

- https://www.bolsamadrid.es

- www.wikipedia.es (fes alguna cerca primer i escrapeja algun contingut)

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By

import scrapy
from scrapy.crawler import CrawlerProcess
from scrapy.crawler import CrawlerRunner
import json

import csv

### 1.- Web Scraping con BeautifulSoup
Realizamos web scraping de www.bolsamadrid.es de las cotizaciones de la sesión utilizando BeautifulSoup. Adjuntamos la página de precios.

Creamos el objeto request a partir de la Url de la web

In [2]:
url = "https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000"
page = requests.get(url)

El servidor permite obtener información del website. Utilizamos BeautifulSoup para ver su contenido

In [3]:
soup = BeautifulSoup(page.content, "html.parser")

Para obtener la tabla de precios de las acciones filtraríamos por

In [4]:
tabla_precios = soup.find('table', id= 'ctl00_Contenido_tblAcciones')

La tabla está en formato html. Se utilizan los siguientes marcadores:
- td   Indica los valores de cada registro
- tr   Indica nuevo registro
- th   Indica los nombres de los campos

In [5]:
#Obtenemos los nombres de los campos
columnas = []

for campo in tabla_precios.find_all('th'): 
    columna = campo.text
    columnas.append(columna)
    
print(columnas)

['Nombre', 'Últ.', '% Dif.', 'Máx.', 'Mín.', 'Volumen', 'Efectivo (miles €)', 'Fecha', 'Hora']

Creamos un dataframe con la información de la tabla.

In [6]:
#Creamos el dataframe con los nombres de los campos
cotizaciones = pd.DataFrame(columns=columnas)
cotizaciones

Empty DataFrame
Columns: [Nombre, Últ., % Dif., Máx., Mín., Volumen, Efectivo (miles €), Fecha, Hora]
Index: []

In [7]:
#Añadimos los registros al dataframe
for i, fila in enumerate(tabla_precios.find_all('tr')[1:]):     #Selecciona las filas a partir de la primera
    datos_fila = fila.find_all('td')                            #Selecciona los datos de cada fila
    registro = [d.text for d in datos_fila]                     #Crea el registro con los datos de la fila
    cotizaciones.loc[i+1] = registro                            #Añade el registro al dataframe

cotizaciones

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
1,ACCIONA,"181,6000","2,77","182,2000","176,7000",112.171,"20.149,98",15/07/2022,Cierre
2,ACCIONA ENER,"38,8400","3,57","39,1200","37,6600",559.417,"21.658,19",15/07/2022,Cierre
3,ACERINOX,"8,4220","0,86","8,4620","8,2580",981.769,"8.236,71",15/07/2022,Cierre
4,ACS,"21,6100","2,56","21,6900","21,1200",628.228,"13.547,63",15/07/2022,Cierre
5,AENA,"122,8500","-0,24","124,7000","122,1000",206.104,"25.361,74",15/07/2022,Cierre
6,AMADEUS,"54,6800","3,05","54,6800","52,6200",815.625,"44.388,05",15/07/2022,Cierre
7,ARCELORMIT.,"21,5000","1,01","21,5000","21,0300",446.719,"9.513,99",15/07/2022,Cierre
8,B.SANTANDER,"2,4055","2,91","2,4150","2,3240",48.322.946,"115.273,99",15/07/2022,Cierre
9,BA.SABADELL,"0,6178","3,04","0,6216","0,5954",30.681.914,"18.842,12",15/07/2022,Cierre
10,BANKINTER,"4,7480","1,76","4,8020","4,6150",3.219.022,"15.236,25",15/07/2022,Cierre
11,BBVA,"4,1010","2,54","4,1180","3,9720",25.001.068,"101.506,00",15/07/2022,Cierre
12,CAIXABANK,"2,7090","2,54","2,7330","2,6400",20.652.786,"55.860,83",15/07/2022,Cierre
13,CELLNEX,"41,9700","1,16","42,5000","41,4000",1.388.299,"58.280,34",15/07/2022,Cierre
14,ENAGAS,"18,6950","1,03","18,8100","18,4250",1.131.840,"21.297,19",15/07/2022,Cierre
15,ENDESA,"17,7150","0,68","17,8350","17,5650",715.710,"12.747,37",15/07/2022,Cierre
16,FERROVIAL,"25,6000","3,73","25,6400","24,7600",1.405.066,"35.825,69",15/07/2022,Cierre
17,FLUIDRA,"19,3500","2,87","19,4200","18,8800",526.682,"10.119,37",15/07/2022,Cierre
18,GRIFOLS CL.A,"15,9800","3,50","16,0200","15,4900",867.098,"13.747,65",15/07/2022,Cierre
19,IAG,"1,3070","2,99","1,3445","1,2460",16.793.405,"21.809,81",15/07/2022,Cierre
20,IBERDROLA,"9,8080","0,95","9,8460","9,6880",11.561.781,"113.239,47",15/07/2022,Cierre
21,INDITEX,"24,2300","3,50","24,3900","23,2500",4.138.967,"99.229,87",15/07/2022,Cierre
22,INDRA A,"9,3100","2,36","9,3400","9,0050",471.630,"4.347,25",15/07/2022,Cierre
23,INM.COLONIAL,"6,0900","2,18","6,1150","5,9350",1.507.647,"9.112,38",15/07/2022,Cierre
24,MAPFRE,"1,5930","0,44","1,6020","1,5740",3.327.065,"5.296,32",15/07/2022,Cierre
25,MELIA HOTELS,"5,7800","3,03","5,8500","5,5800",778.632,"4.463,96",15/07/2022,Cierre
26,MERLIN,"9,6000","2,29","9,6600","9,3650",641.120,"6.139,81",15/07/2022,Cierre
27,NATURGY,"28,2300","1,58","28,4200","27,6500",317.550,"8.930,85",15/07/2022,Cierre
28,PHARMA MAR,"67,1000","3,07","67,2400","65,5400",33.895,"2.257,43",15/07/2022,Cierre
29,R.E.C.,"17,9250","-0,06","18,0750","17,8150",2.482.038,"44.479,54",15/07/2022,Cierre
30,REPSOL,"11,8850","0,72","12,0300","11,7350",5.722.933,"67.863,63",15/07/2022,Cierre
31,ROVI,"59,0000","3,15","59,0000","56,5000",99.071,"5.744,10",15/07/2022,Cierre
32,SACYR,"2,2400","3,23","2,2540","2,1800",1.770.714,"3.962,45",15/07/2022,Cierre
33,SIEMENS GAME,"17,8650","-0,53","17,9800","17,8650",3.968.672,"71.034,95",15/07/2022,Cierre
34,SOLARIA,"20,6100","0,44","20,9700","20,3700",794.421,"16.384,66",15/07/2022,Cierre
35,TELEFONICA,"4,6590","-1,50","4,7480","4,6590",12.704.054,"59.419,86",15/07/2022,Cierre

Vemos el formato de los números

In [8]:
cotizaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 1 to 35
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              35 non-null     object
 1   Últ.                35 non-null     object
 2   % Dif.              35 non-null     object
 3   Máx.                35 non-null     object
 4   Mín.                35 non-null     object
 5   Volumen             35 non-null     object
 6   Efectivo (miles €)  35 non-null     object
 7   Fecha               35 non-null     object
 8   Hora                35 non-null     object
dtypes: object(9)
memory usage: 2.7+ KB

Observamos que todos los campos son string y que la notación es latina: utiliza las comas para separar decimales y los puntos para indicar los miles. Procedemos a cambiarlo por comas para separar miles.

In [9]:
cotizaciones.replace('\.', '', regex=True, inplace=True)
cotizaciones.replace(',', '.', regex=True, inplace=True)
cotizaciones.head()

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
1,ACCIONA,181.6000,2.77,182.2000,176.7000,112171,20149.98,15/07/2022,Cierre
2,ACCIONA ENER,38.8400,3.57,39.1200,37.6600,559417,21658.19,15/07/2022,Cierre
3,ACERINOX,8.4220,0.86,8.4620,8.2580,981769,8236.71,15/07/2022,Cierre
4,ACS,21.6100,2.56,21.6900,21.1200,628228,13547.63,15/07/2022,Cierre
5,AENA,122.8500,-0.24,124.7000,122.1000,206104,25361.74,15/07/2022,Cierre

Finalmente transformamos las columnas numéricas en float

In [12]:
columnas_num=['Últ.', '% Dif.', 'Máx.', 'Mín.', 'Volumen','Efectivo (miles €)']

In [13]:
cotizaciones[columnas_num] = cotizaciones[columnas_num].astype(float)

In [14]:
cotizaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 1 to 35
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              35 non-null     object
 1   Últ.                35 non-null     float64
 2   % Dif.              35 non-null     float64
 3   Máx.                35 non-null     float64
 4   Mín.                35 non-null     float64
 5   Volumen             35 non-null     float64
 6   Efectivo (miles €)  35 non-null     float64
 7   Fecha               35 non-null     object
 8   Hora                35 non-null     object
dtypes: float64(6), object(3)
memory usage: 2.7+ KB

### 2.- Web Scraping con BeautifulSoup
Realizamos web scraping de http://quotes.toscrape.com/ de las 10 primeras frases del Tag Humor. Adjuntamos la página

Creamos el objeto request a partir de la Url de la web

In [15]:
url = "http://quotes.toscrape.com/tag/humor/"
page = requests.get(url)

In [16]:
soup = BeautifulSoup(page.content, "html.parser")

Obtenemos los bloques de las citas

In [18]:
quotes= soup.find_all('div', class_='quote')

In [19]:
texto=[]
autor=[]
for quote in quotes:
    texto.append(quote.find(class_='text').text)                   #Obtiene el texto de la cita
    autor.append(quote.find(class_= 'author').text)                #Obtiene el autor de la cita

Creamos un dataframe con las citas y su autor

In [20]:
citas=pd.DataFrame({'cita':texto, 'autor': autor})
citas

                                                cita              autor
0  “The person, be it gentleman or lady, who has ...        Jane Austen
1  “A day without sunshine is like, you know, nig...       Steve Martin
2  “Anyone who thinks sitting in church can make ...   Garrison Keillor
3  “Beauty is in the eye of the beholder and it m...         Jim Henson
4  “All you need is love. But a little chocolate ...  Charles M. Schulz
5  “Remember, we're madly in love, so it's all ri...    Suzanne Collins
6  “Some people never go crazy. What truly horrib...   Charles Bukowski
7  “The trouble with having an open mind, of cour...    Terry Pratchett
8  “Think left and think right and think low and ...          Dr. Seuss
9  “The reason I talk to myself is because I’m th...      George Carlin

### 3.- Web Scraping con Selenium
Utilizaremos Selenium para hacer Web Scraping de www.bolsamadrid.es de las cotizaciones de la sesión, que anteriormente realizamos con BeautifulSoup

In [22]:
url = "https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000"
browser = webdriver.Firefox(executable_path = 'C:/Users/joseb/Documents/Data Science/geckodriver')
browser.get(url)

C:\Users\joseb\AppData\Local\Temp/ipykernel_15900/2966751661.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Firefox(executable_path = 'C:/Users/joseb/Documents/Data Science/geckodriver')

Sabemos que la tabla de precios está identificada como: id= 'ctl00_Contenido_tblAcciones'. Utilizaremos **xpath** para obtener los valores de la tabla de precios

In [24]:
#Creamos una tabla con los valores de ctl00_Contenido_tblAcciones
tabla = []
for fila in browser.find_elements(by= By.XPATH, value = '//*[contains(@id,"ctl00_Contenido_tblAcciones")]//tr'):
        datos_fila = fila.find_elements(by= By.XPATH, value= ".//*[self::td or self::th]")
        registro = [item.text for item in datos_fila]       
        tabla.append(registro)

Creamos el dataframe a partir de la tabla obtenida. La primera fila contiene los nombres de los campos

In [25]:
cotizaciones_acciones = pd.DataFrame(tabla[1:], columns = tabla[0])
cotizaciones_acciones.head()

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"183,2000","1,66","184,0000","181,4000",14.199,"2.595,56",07/07/2022,09:36:05
1,ACCIONA ENER,"38,4600","0,52","38,6000","38,3200",8.337,"320,56",07/07/2022,09:35:32
2,ACERINOX,"8,3680","2,45","8,3900","8,2200",182.603,"1.519,58",07/07/2022,09:36:09
3,ACS,"21,0700","1,35","21,1000","20,6900",127.366,"2.660,07",07/07/2022,09:36:12
4,AENA,"120,7500","1,47","121,4500","120,0000",13.582,"1.641,78",07/07/2022,09:35:01

### - Exercici 2

Documenta en un Word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

Per saber més

A manera d'exemple del que es demana pots consultar aquest enllaç:

->https://www.kaggle.com/datasets/vivovinco/20212022-football-team-stats.

In [12]:
cotizaciones

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
1,ACCIONA,"184,7000","2,50","185,2000","181,4000",33.923,"6.234,49",07/07/2022,11:00:20
2,ACCIONA ENER,"38,9400","1,78","38,9600","38,3200",26.701,"1.032,23",07/07/2022,11:01:30
3,ACERINOX,"8,4740","3,75","8,4740","8,2200",440.012,"3.684,81",07/07/2022,11:03:28
4,ACS,"21,1200","1,59","21,2000","20,6900",212.469,"4.456,58",07/07/2022,11:03:41
5,AENA,"120,8500","1,55","121,4500","120,0000",34.852,"4.215,14",07/07/2022,11:01:55
6,AMADEUS,"53,0200","1,77","53,6000","52,3400",71.251,"3.777,23",07/07/2022,11:03:40
7,ARCELORMIT.,"21,6800","4,84","21,6800","20,9150",212.372,"4.528,53",07/07/2022,11:03:23
8,B.SANTANDER,"2,6015","3,01","2,6235","2,5550",9.824.649,"25.523,52",07/07/2022,11:03:32
9,BA.SABADELL,"0,6718","3,48","0,6820","0,6586",15.921.475,"10.672,22",07/07/2022,11:03:30
10,BANKINTER,"5,2200","3,24","5,2580","5,0920",1.691.998,"8.771,88",07/07/2022,11:02:55
11,BBVA,"4,3490","3,31","4,3855","4,2820",4.135.213,"17.943,90",07/07/2022,11:03:38
12,CAIXABANK,"2,9690","3,41","3,0050","2,9160",6.815.978,"20.214,70",07/07/2022,11:03:41
13,CELLNEX,"38,4900","0,18","38,6500","38,0700",99.454,"3.820,35",07/07/2022,11:01:15
14,ENAGAS,"19,7300","-0,33","19,9950","19,5700",321.677,"6.341,76",07/07/2022,11:02:56
15,ENDESA,"18,2600","0,38","18,3600","18,1650",101.485,"1.854,27",07/07/2022,11:03:41
16,FERROVIAL,"25,2500","1,77","25,3500","24,9500",204.215,"5.139,72",07/07/2022,11:03:40
17,FLUIDRA,"19,0000","2,70","19,0000","18,6200",104.841,"1.973,45",07/07/2022,11:03:33
18,GRIFOLS CL.A,"17,2200","1,62","17,4350","16,8500",141.390,"2.419,70",07/07/2022,11:03:41
19,IAG,"1,2550","1,33","1,2640","1,2350",2.997.304,"3.751,37",07/07/2022,11:02:01
20,IBERDROLA,"10,3150","0,49","10,3750","10,2200",1.080.204,"11.119,43",07/07/2022,11:03:32
21,INDITEX,"22,9700","1,55","23,0100","22,6900",742.387,"16.985,44",07/07/2022,11:03:40
22,INDRA A,"9,3750","4,92","9,5000","9,0000",602.414,"5.648,41",07/07/2022,11:03:41
23,INM.COLONIAL,"5,9700","1,02","5,9900","5,9000",197.576,"1.176,83",07/07/2022,11:01:58
24,MAPFRE,"1,6410","1,42","1,6540","1,6280",1.263.814,"2.071,93",07/07/2022,11:03:28
25,MELIA HOTELS,"5,7200","2,14","5,7350","5,5950",248.341,"1.409,51",07/07/2022,11:03:29
26,MERLIN,"9,2600","1,54","9,3000","9,1350",71.047,"656,78",07/07/2022,11:01:55
27,NATURGY,"28,0100","1,71","28,0800","27,6000",45.431,"1.266,40",07/07/2022,11:02:04
28,PHARMA MAR,"67,8800","1,13","68,1200","66,8400",12.742,"864,67",07/07/2022,11:00:00
29,R.E.C.,"18,3400","0,60","18,4750","18,0850",899.509,"16.471,35",07/07/2022,11:02:39
30,REPSOL,"12,8900","2,83","12,9450","12,7250",963.471,"12.381,44",07/07/2022,11:03:40
31,ROVI,"60,0500","1,87","60,2000","58,8500",33.756,"2.022,22",07/07/2022,11:01:07
32,SACYR,"2,2840","2,33","2,2900","2,2600",303.147,"690,20",07/07/2022,10:59:57
33,SIEMENS GAME,"17,9250","0,31","17,9350","17,8800",352.184,"6.311,17",07/07/2022,11:02:16
34,SOLARIA,"21,5900","3,45","21,8000","20,9500",163.205,"3.494,95",07/07/2022,11:03:11
35,TELEFONICA,"4,6720","-0,38","4,7200","4,6440",3.370.724,"15.755,19",07/07/2022,11:03:37

## About Dataset
### Context

Este dataset contiene información de las cotizaciones de las empresas del IBEX35 del día 7/7/2022 a las 11h.    
### Content

35 filas y 9 columnas.   
Las columnas están descritas a continuación:   
- Nombre: Nombre de la empresa
- Últ.: Último precio de la acción en euros
- % Dif: Diferencia porcentual entre el último precio de la acción y el precio a la apertura de la sesión bursátil
- Máx. : Máximo precio de la acción en la actual sesión bursátil
- Mín. : Mínimo precio de la acción en la actual sesión bursátil
- Volumen : Número de transacciones realizadas desde inicio de la sesión
- Efectivo (miles €) : Importe de las transacciones realizadas desde el inicio de la sesión, expresado en miles de euros
- Fecha : Fecha de la sesión
- Hora : Hora de la última actualización del registro

   
### Acknowledgements

Datos obtenidos mediante técnicas de Web Scraping de www.bolsamadrid.es

## - Exercici 3

Tria una pàgina web que tu vulguis i realitza web scraping mitjançant la llibreria Selenium primer i Scrapy després.

Utilizaremos una web preparada para hacer scrapes: www.books.toscrape.com, que simula una librería on-line. Seleccionamos los libros de historia y descargaremos el título, precio y disponibilidad

## 1.- Selenium

En este ejemplo utilizaremos el CSS_SELECTOR para obtener la información

In [16]:
url = 'http://books.toscrape.com/catalogue/category/books/history_32/index.html'
browser = webdriver.Firefox(executable_path = 'C:/Users/joseb/Documents/Data Science/geckodriver')
browser.get(url)

C:\Users\joseb\AppData\Local\Temp/ipykernel_12592/523699295.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Firefox(executable_path = 'C:/Users/joseb/Documents/Data Science/geckodriver')

In [17]:
#Creamos una lista de dictionarios con los valores de cada libro (product_pod)
data=[]
books=browser.find_elements(by= By.CSS_SELECTOR, value='.product_pod')
for book in books:
            title = book.find_element_by_css_selector("h3 > a")
            price = book.find_element_by_css_selector(".price_color")
            stock = book.find_element_by_css_selector(".instock.availability")
            data.append({
                'title': title.get_attribute("title"),
                'price': price.text,
                'stock': stock.text,
                
            })

C:\Users\joseb\AppData\Roaming\Python\Python39\site-packages\selenium\webdriver\remote\webelement.py:484: UserWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  warnings.warn("find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead")

In [18]:
data

[{'title': 'Sapiens: A Brief History of Humankind',
  'price': '£54.23',
  'stock': 'In stock'},
 {'title': 'Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink',
  'price': '£25.52',
  'stock': 'In stock'},
 {'title': 'The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind',
  'price': '£19.73',
  'stock': 'In stock'},
 {'title': 'Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics',
  'price': '£36.28',
  'stock': 'In stock'},
 {'title': 'Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History',
  'price': '£59.64',
  'stock': 'In stock'},
 {'title': 'Zealot: The Life and Times of Jesus of Nazareth',
  'price': '£24.70',
  'stock': 'In stock'},
 {'title': 'A Distant Mirror: The Calamitous 14th Century',
  'price': '£14.58',
  'stock': 'In stock'},
 {'title': '1491: New Revelations of the Americas Before Columbus',
  'price': '£21.80',
  'stock': 'In stock'},
 {'title': 'Brilliant Beacons: A History of the American Lighthouse',
  'price': '£11.45',
  'stock': 'In stock'},
 {'title': '"Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination',
  'price': '£44.48',
  'stock': 'In stock'},
 {'title': 'A Short History of Nearly Everything',
  'price': '£52.40',
  'stock': 'In stock'},
 {'title': 'The Rise and Fall of the Third Reich: A History of Nazi Germany',
  'price': '£39.67',
  'stock': 'In stock'},
 {'title': 'Catherine the Great: Portrait of a Woman',
  'price': '£58.55',
  'stock': 'In stock'},
 {'title': "The Mathews Men: Seven Brothers and the War Against Hitler's U-boats",
  'price': '£42.91',
  'stock': 'In stock'},
 {'title': 'The Hiding Place', 'price': '£55.91', 'stock': 'In stock'},
 {'title': "America's War for the Greater Middle East: A Military History",
  'price': '£51.22',
  'stock': 'In stock'},
 {'title': 'The Guns of August', 'price': '£14.54', 'stock': 'In stock'},
 {'title': 'House of Lost Worlds: Dinosaurs, Dynasties, and the Story of Life on Earth',
  'price': '£43.70',
  'stock': 'In stock'}]

In [ ]:
Creamos el dataframe a partir de la lista de dictionarios

In [19]:
datos_df=pd.DataFrame(data)
datos_df

                                                title   price     stock
0               Sapiens: A Brief History of Humankind  £54.23  In stock
1   Unbound: How Eight Technologies Made Us Human,...  £25.52  In stock
2   The Age of Genius: The Seventeenth Century and...  £19.73  In stock
3   Political Suicide: Missteps, Peccadilloes, Bad...  £36.28  In stock
4   Thomas Jefferson and the Tripoli Pirates: The ...  £59.64  In stock
5     Zealot: The Life and Times of Jesus of Nazareth  £24.70  In stock
6       A Distant Mirror: The Calamitous 14th Century  £14.58  In stock
7   1491: New Revelations of the Americas Before C...  £21.80  In stock
8   Brilliant Beacons: A History of the American L...  £11.45  In stock
9   "Most Blessed of the Patriarchs": Thomas Jeffe...  £44.48  In stock
10               A Short History of Nearly Everything  £52.40  In stock
11  The Rise and Fall of the Third Reich: A Histor...  £39.67  In stock
12           Catherine the Great: Portrait of a Woman  £58.55  In stock
13  The Mathews Men: Seven Brothers and the War Ag...  £42.91  In stock
14                                   The Hiding Place  £55.91  In stock
15  America's War for the Greater Middle East: A M...  £51.22  In stock
16                                 The Guns of August  £14.54  In stock
17  House of Lost Worlds: Dinosaurs, Dynasties, an...  £43.70  In stock

## 2.- Scrapy

En este ejemplo utilizaremos xpath para obtener la información

Creamos la clase para guardar los resultados en un archivo Json

In [20]:
class JsonWriterPipeline(object):

    def open_spider(self, spider):
        self.file = open('book_result.jl', 'w')

    def close_spider(self, spider):
        self.file.close()

    def process_item(self, item, spider):
        line = json.dumps(dict(item)) + "\n"
        self.file.write(line)
        return item

Construímos el spider para obtener la información

In [21]:
class BookSpider(scrapy.Spider):
    name = 'bookspider'
    start_urls = [
        'http://books.toscrape.com/catalogue/category/books/history_32/index.html'
    ]

    custom_settings = {
        'ITEM_PIPELINES': {'__main__.JsonWriterPipeline': 1},        # Usado en la pipeline 1
        'FEED_FORMAT':'json',                                        # Usado en la pipeline 2
        'FEED_URI': 'book_result.json'                               # Usado en la pipeline 2
    }
    
    def parse(self, response):
        for link in response.xpath('//article[@class="product_pod"]/div/a/@href').extract():
            yield response.follow(link, callback=self.parse_detail)
        next_page = response.xpath('//li[@class="next"]/a/@href').extract_first()
        if next_page:
            yield response.follow(next_page, callback=self.parse)

    def parse_detail(self, response):
        title = response.xpath('//div[contains(@class, "product_main")]/h1/text()').extract_first()
        price = response.xpath('//div[contains(@class, "product_main")]/'
                               'p[@class="price_color"]/text()').extract_first()
        availability = response.xpath('//div[contains(@class, "product_main")]/'
                                      'p[contains(@class, "availability")]/text()').extract()
        availability = ''.join(availability).strip()
        
        yield {
            'title': title,
            'price': price,
            'availability': availability,            
        }

Ejecutamos el spider

In [22]:
process = CrawlerProcess()
process.crawl(BookSpider)
process.start()

2022-07-11 21:06:30 [scrapy.utils.log] INFO: Scrapy 2.6.1 started (bot: scrapybot)
2022-07-11 21:06:30 [scrapy.utils.log] INFO: Versions: lxml 4.6.3.0, libxml2 2.9.12, cssselect 1.1.0, parsel 1.6.0, w3lib 1.22.0, Twisted 22.4.0, Python 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)], pyOpenSSL 21.0.0 (OpenSSL 1.1.1l  24 Aug 2021), cryptography 3.4.8, Platform Windows-10-10.0.22000-SP0
2022-07-11 21:06:30 [scrapy.crawler] INFO: Overridden settings:
{}
2022-07-11 21:06:30 [scrapy.utils.log] DEBUG: Using reactor: twisted.internet.selectreactor.SelectReactor
2022-07-11 21:06:30 [scrapy.extensions.telnet] INFO: Telnet Password: e9898d5a384c2687
2022-07-11 21:06:30 [py.warnings] WARNING: C:\ProgramData\Anaconda3\lib\site-packages\scrapy\extensions\feedexport.py:289: ScrapyDeprecationWarning: The `FEED_URI` and `FEED_FORMAT` settings have been deprecated in favor of the `FEEDS` setting. Please see the `FEEDS` setting docs for more details
  exporter = cls(crawler)

2022-07-11 21:06:30 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.corestats.CoreStats',
 'scrapy.extensions.telnet.TelnetConsole',
 'scrapy.extensions.feedexport.FeedExporter',
 'scrapy.extensions.logstats.LogStats']
2022-07-11 21:06:30 [scrapy.middleware] INFO: Enabled downloader middlewares:
['scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware',
 'scrapy.downloadermiddlewares.downloadtimeout.DownloadTimeoutMiddleware',
 'scrapy.downloadermiddlewares.defaultheaders.DefaultHeadersMiddleware',
 'scrapy.downloadermiddlewares.useragent.UserAgentMiddleware',
 'scrapy.downloadermiddlewares.retry.RetryMiddleware',
 'scrapy.downloadermiddlewares.redirect.MetaRefreshMiddleware',
 'scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware',
 'scrapy.downloadermiddlewares.redirect.RedirectMiddleware',
 'scrapy.downloadermiddlewares.cookies.CookiesMiddleware',
 'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware',
 'scrapy.downloadermiddlewares.stats.DownloaderStats']
2022-07-11 21:06:30 [scrapy.middleware] INFO: Enabled spider middlewares:
['scrapy.spidermiddlewares.httperror.HttpErrorMiddleware',
 'scrapy.spidermiddlewares.offsite.OffsiteMiddleware',
 'scrapy.spidermiddlewares.referer.RefererMiddleware',
 'scrapy.spidermiddlewares.urllength.UrlLengthMiddleware',
 'scrapy.spidermiddlewares.depth.DepthMiddleware']
2022-07-11 21:06:30 [scrapy.middleware] INFO: Enabled item pipelines:
['__main__.JsonWriterPipeline']
2022-07-11 21:06:30 [scrapy.core.engine] INFO: Spider opened
2022-07-11 21:06:30 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2022-07-11 21:06:30 [scrapy.extensions.telnet] INFO: Telnet console listening on 127.0.0.1:6023
2022-07-11 21:06:30 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/category/books/history_32/index.html> (referer: None)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/sapiens-a-brief-history-of-humankind_996/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/sapiens-a-brief-history-of-humankind_996/index.html>
{'title': 'Sapiens: A Brief History of Humankind', 'price': '£54.23', 'availability': 'In stock (20 available)'}
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/a-short-history-of-nearly-everything_457/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/the-guns-of-august_254/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/americas-war-for-the-greater-middle-east-a-military-history_361/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/the-rise-and-fall-of-the-third-reich-a-history-of-nazi-germany_454/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/house-of-lost-worlds-dinosaurs-dynasties-and-the-story-of-life-on-earth_170/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/the-hiding-place_406/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/catherine-the-great-portrait-of-a-woman_424/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/the-mathews-men-seven-brothers-and-the-war-against-hitlers-u-boats_408/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/a-short-history-of-nearly-everything_457/index.html>
{'title': 'A Short History of Nearly Everything', 'price': '£52.40', 'availability': 'In stock (7 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/the-guns-of-august_254/index.html>
{'title': 'The Guns of August', 'price': '£14.54', 'availability': 'In stock (3 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/americas-war-for-the-greater-middle-east-a-military-history_361/index.html>
{'title': "America's War for the Greater Middle East: A Military History", 'price': '£51.22', 'availability': 'In stock (5 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/the-rise-and-fall-of-the-third-reich-a-history-of-nazi-germany_454/index.html>
{'title': 'The Rise and Fall of the Third Reich: A History of Nazi Germany', 'price': '£39.67', 'availability': 'In stock (6 available)'}
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/most-blessed-of-the-patriarchs-thomas-jefferson-and-the-empire-of-the-imagination_509/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/house-of-lost-worlds-dinosaurs-dynasties-and-the-story-of-life-on-earth_170/index.html>
{'title': 'House of Lost Worlds: Dinosaurs, Dynasties, and the Story of Life on Earth', 'price': '£43.70', 'availability': 'In stock (3 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/the-hiding-place_406/index.html>
{'title': 'The Hiding Place', 'price': '£55.91', 'availability': 'In stock (5 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/catherine-the-great-portrait-of-a-woman_424/index.html>
{'title': 'Catherine the Great: Portrait of a Woman', 'price': '£58.55', 'availability': 'In stock (6 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/the-mathews-men-seven-brothers-and-the-war-against-hitlers-u-boats_408/index.html>
{'title': "The Mathews Men: Seven Brothers and the War Against Hitler's U-boats", 'price': '£42.91', 'availability': 'In stock (5 available)'}
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/political-suicide-missteps-peccadilloes-bad-calls-backroom-hijinx-sordid-pasts-rotten-breaks-and-just-plain-dumb-mistakes-in-the-annals-of-american-politics_917/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/brilliant-beacons-a-history-of-the-american-lighthouse_515/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/1491-new-revelations-of-the-americas-before-columbus_650/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/a-distant-mirror-the-calamitous-14th-century_652/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/the-age-of-genius-the-seventeenth-century-and-the-birth-of-the-modern-mind_929/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/zealot-the-life-and-times-of-jesus-of-nazareth_785/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/thomas-jefferson-and-the-tripoli-pirates-the-forgotten-war-that-changed-american-history_867/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/most-blessed-of-the-patriarchs-thomas-jefferson-and-the-empire-of-the-imagination_509/index.html>
{'title': '"Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination', 'price': '£44.48', 'availability': 'In stock (8 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/political-suicide-missteps-peccadilloes-bad-calls-backroom-hijinx-sordid-pasts-rotten-breaks-and-just-plain-dumb-mistakes-in-the-annals-of-american-politics_917/index.html>
{'title': 'Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics', 'price': '£36.28', 'availability': 'In stock (16 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/brilliant-beacons-a-history-of-the-american-lighthouse_515/index.html>
{'title': 'Brilliant Beacons: A History of the American Lighthouse', 'price': '£11.45', 'availability': 'In stock (8 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/1491-new-revelations-of-the-americas-before-columbus_650/index.html>
{'title': '1491: New Revelations of the Americas Before Columbus', 'price': '£21.80', 'availability': 'In stock (14 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/a-distant-mirror-the-calamitous-14th-century_652/index.html>
{'title': 'A Distant Mirror: The Calamitous 14th Century', 'price': '£14.58', 'availability': 'In stock (14 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/the-age-of-genius-the-seventeenth-century-and-the-birth-of-the-modern-mind_929/index.html>
{'title': 'The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind', 'price': '£19.73', 'availability': 'In stock (16 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/zealot-the-life-and-times-of-jesus-of-nazareth_785/index.html>
{'title': 'Zealot: The Life and Times of Jesus of Nazareth', 'price': '£24.70', 'availability': 'In stock (14 available)'}
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/thomas-jefferson-and-the-tripoli-pirates-the-forgotten-war-that-changed-american-history_867/index.html>
{'title': 'Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History', 'price': '£59.64', 'availability': 'In stock (15 available)'}
2022-07-11 21:06:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://books.toscrape.com/catalogue/unbound-how-eight-technologies-made-us-human-transformed-society-and-brought-our-world-to-the-brink_950/index.html> (referer: http://books.toscrape.com/catalogue/category/books/history_32/index.html)
2022-07-11 21:06:31 [scrapy.core.scraper] DEBUG: Scraped from <200 http://books.toscrape.com/catalogue/unbound-how-eight-technologies-made-us-human-transformed-society-and-brought-our-world-to-the-brink_950/index.html>
{'title': 'Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink', 'price': '£25.52', 'availability': 'In stock (16 available)'}
2022-07-11 21:06:31 [scrapy.core.engine] INFO: Closing spider (finished)
2022-07-11 21:06:31 [scrapy.extensions.feedexport] INFO: Stored json feed (18 items) in: book_result.json
2022-07-11 21:06:31 [scrapy.statscollectors] INFO: Dumping Scrapy stats:
{'downloader/request_bytes': 7305,
 'downloader/request_count': 19,
 'downloader/request_method_count/GET': 19,
 'downloader/response_bytes': 81071,
 'downloader/response_count': 19,
 'downloader/response_status_count/200': 19,
 'elapsed_time_seconds': 1.147574,
 'feedexport/success_count/FileFeedStorage': 1,
 'finish_reason': 'finished',
 'finish_time': datetime.datetime(2022, 7, 11, 19, 6, 31, 533986),
 'httpcompression/response_bytes': 428361,
 'httpcompression/response_count': 19,
 'item_scraped_count': 18,
 'log_count/DEBUG': 38,
 'log_count/INFO': 11,
 'log_count/WARNING': 1,
 'request_depth_max': 1,
 'response_received_count': 19,
 'scheduler/dequeued': 19,
 'scheduler/dequeued/memory': 19,
 'scheduler/enqueued': 19,
 'scheduler/enqueued/memory': 19,
 'start_time': datetime.datetime(2022, 7, 11, 19, 6, 30, 386412)}
2022-07-11 21:06:31 [scrapy.core.engine] INFO: Spider closed (finished)

Abrimos el archivo Json en un dataframe de Pandas

In [23]:
books_df=pd.read_json('book_result.json')
books_df

,title,price,availability
0,Sapiens: A Brief History of Humankind,£54.23,In stock (20 available)
1,A Short History of Nearly Everything,£52.40,In stock (7 available)
2,The Guns of August,£14.54,In stock (3 available)
3,America's War for the Greater Middle East: A M...,£51.22,In stock (5 available)
4,The Rise and Fall of the Third Reich: A Histor...,£39.67,In stock (6 available)
5,"House of Lost Worlds: Dinosaurs, Dynasties, an...",£43.70,In stock (3 available)
6,The Hiding Place,£55.91,In stock (5 available)
7,Catherine the Great: Portrait of a Woman,£58.55,In stock (6 available)
8,The Mathews Men: Seven Brothers and the War Ag...,£42.91,In stock (5 available)
9,"""Most Blessed of the Patriarchs"": Thomas Jeffe...",£44.48,In stock (8 available)
10,"Political Suicide: Missteps, Peccadilloes, Bad...",£36.28,In stock (16 available)
11,Brilliant Beacons: A History of the American L...,£11.45,In stock (8 available)
12,1491: New Revelations of the Americas Before C...,£21.80,In stock (14 available)
13,A Distant Mirror: The Calamitous 14th Century,£14.58,In stock (14 available)
14,The Age of Genius: The Seventeenth Century and...,£19.73,In stock (16 available)
15,Zealot: The Life and Times of Jesus of Nazareth,£24.70,In stock (14 available)
16,Thomas Jefferson and the Tripoli Pirates: The ...,£59.64,In stock (15 available)
17,"Unbound: How Eight Technologies Made Us Human,...",£25.52,In stock (16 available)