# Sprint 04. Tasca 01
## By José Manuel Castaño

## - Exercici 1

Estandaritza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobaràs al repositori de GitHub "Data-sources".

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

## Preparem la importació:
- Fem el separador dels diferents camps del log amb Regex
- Definim els noms de les columnes
- Eliminem els extrems d'alguns camps que tenen [] i ""
- Transformem en enters alguns valors numèrics
- Canviem el - per un NaN

In [17]:
separador = r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])'
nombre_columnas = ['remote_host', 'IP_client', 'user_identity', 'user_name', 'data_time', 'request', 'status', 'size', 'referer', 'user_agent', 'unknown']

#Funció que elimina els extrems d'alguns camps, [] i ""
def eliminar_extrems(x):
    return x[1:-1]            
convertidor = {'data_time':eliminar_extrems, 'request': eliminar_extrems, 'user_agent':eliminar_extrems, 'referer':eliminar_extrems, 'status':int, 'size':int}

pd.set_option('display.max_colwidth', None)
logs = pd.read_csv('Web_access_log-akumenius.com.txt', sep = separador, names = nombre_columnas, converters=convertidor, na_values='-', engine='python')
logs.head(60)

,remote_host,IP_client,user_identity,user_name,data_time,request,status,size,referer,user_agent,unknown
0,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
1,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
2,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
3,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
4,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
5,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
6,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
7,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
8,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
9,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
10,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
11,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
12,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
13,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
14,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
15,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
16,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
17,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
18,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
19,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
20,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
21,localhost,127.0.0.1,NaN,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
22,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:31 +0100,GET /hoteles-baratos/ofertas-hotel-Club-&-Hotel-Letoonia--en-Fethiye-8460b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
23,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:33 +0100,GET /hoteles-baratos/ofertas-hotel-Metropolis-Hotel-en-Kaunas-210244b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
24,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:35 +0100,GET /hoteles-baratos/ofertas-hotel-Faena-Hotel-Buenos-Aires-en-Downtown-129723b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
25,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:38 +0100,GET /hoteles-baratos/ofertas-hotel-Kensington-Townhouse-London-en-Kensington-54356b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
26,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:39 +0100,GET /destinos-baratos/destinosEstrelles/hoteles-en-Invermere_CANAD%C3%81-con-4-estrellas HTTP/1.1,200,8811,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
27,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:40 +0100,GET /hoteles-baratos/ofertas-hotel-Howard-Jhonson-hotel-&-Spa--Villa-Gral-Belgrano-en-Villa%20General%20Belgrano-146416b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
28,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:42 +0100,GET /hoteles-baratos/ofertas-hotel-Princesa-Sofia-en-Diagonal%20S.-4013b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
29,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:45 +0100,GET /hoteles-baratos/ofertas-hotel-Kfar-Giladi-en-Tiberias-121085b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
30,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:46 +0100,GET /destinos-baratos/destinosEstrelles/hoteles-en-Skanderborg_DINAMARCA-con-5-estrellas HTTP/1.1,200,8816,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
31,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:47 +0100,GET /hoteles-baratos/ofertas-hotel-Casual-Hotel-Valencia-en-Valencia-205435b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
32,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:49 +0100,GET /hoteles-baratos/ofertas-hotel-Lucky-2-en-Hanoi-146288b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
33,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:52 +0100,GET /hoteles-baratos/ofertas-hotel-Natali-Torremolinos-en-Torremolinos-22598b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
34,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:53 +0100,GET /destinos-baratos/destinosEstrelles/hoteles-en-Villarcayo_ESPA%C3%91A-con-1-estrella HTTP/1.1,200,8810,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
35,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:54 +0100,GET /hoteles-baratos/ofertas-hotel-Hotel-Costa-del-Sol-Cartagena--en-Cartagena-106856b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
36,www.akumenius.com,5.255.253.53,NaN,NaN,23/Feb/2014:03:10:56 +0100,GET /destinos-baratos/hoteles-baratos/ofertas-hotel-Osterley-Park-en-Brentford-104320b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http://yandex.com/bots),VLOG=-
37,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:56 +0100,GET /hoteles-baratos/ofertas-hotel-Quintessia-&-Spa-(Ex-Domaine-D'Orvault)-en-Orvault-170129b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
38,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:10:59 +0100,GET /hoteles-baratos/ofertas-hotel-Cill-Aodain-Court-Hotel-en-Kiltimagh-143726b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
39,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:01 +0100,GET /destinos-baratos/destinosEstrelles/hoteles-en-Mellrichstadt_ALEMANIA-con-1-estrella HTTP/1.1,200,8812,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
40,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:01 +0100,GET /hoteles-baratos/ofertas-hotel-Venetur-Hotel-del-Lago--en-Maracaibo-72209b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
41,www.akumenius.com,157.55.35.112,NaN,NaN,23/Feb/2014:03:11:02 +0100,GET /destinos-baratos/destinos-caracteristicas/hoteles-baratos-en-Dubai_EMIRATOS%20ARABES%20UNIDOS-con-Actividades-de-animaci%C3%B3n HTTP/1.1,200,14818,NaN,Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm),VLOG=-
42,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:03 +0100,GET /hoteles-baratos/ofertas-hotel-Ametlla-Mar-en-Ametlla%20de%20Mar-3546b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
43,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:06 +0100,GET /hoteles-baratos/ofertas-hotel-Abba-Comillas-Golf-en-Comillas-142446b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
44,www.akumenius.com,193.111.141.116,NaN,NaN,23/Feb/2014:03:11:07 +0100,GET /hoteles-baratos/ofertas-hotel-Roque-Monica-Apartamentos-en-Los%20Llanos-133556b-destinos.html HTTP/1.1,404,17750,NaN,Mozilla/5.0 (X11; Linux i686; rv:6.0) Gecko/20100101 Firefox/6.0,VLOG=-
45,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:08 +0100,GET /hoteles-baratos/ofertas-hotel-Westin-Panama-en-Panama%20City-190988b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
46,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:09 +0100,GET /destinos-baratos/destinosEstrelles/hoteles-en-Wainwright_CANAD%C3%81-con-1-estrella HTTP/1.1,200,8807,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
47,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:10 +0100,GET /hoteles-baratos/ofertas-hotel-Kenia-Nevada-en-Pradollano-2717b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
48,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:13 +0100,GET /destinos-caracteristicas/hoteles-baratos-en-Machu-Pichu_PERU-con-Ba%C3%B1era-de-hidromasaje HTTP/1.1,200,9914,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
49,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:14 +0100,GET /hoteles-baratos/ofertas-hotel-Tugcu-Hotel-en-Bursa-162580b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
50,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:15 +0100,GET /hoteles-baratos/ofertas-hotel-Hilton-London-Hyde-Park-en-Bayswater-7566b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
51,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:16 +0100,GET /destinos-baratos/destinosEstrelles/hoteles-en-Schmiedeberg_ALEMANIA-con-5-estrellas HTTP/1.1,200,8817,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
52,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:17 +0100,GET /hoteles-baratos/ofertas-hotel-Luna-Alpinus-Falesia-Suites-en-Algarve_PORTUGAL-8542b.html HTTP/1.1,200,6118,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
53,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:20 +0100,GET /hoteles-baratos/ofertas-hotel-Cisneros-en-Alcala%20de%20Henares-4397b-destinos.html HTTP/1.1,404,3100,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
54,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:22 +0100,GET /hoteles-baratos/ofertas-hoteles-todo-incluido-en-mijas_ESPA%C3%91A.html HTTP/1.1,200,6708,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
55,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:23 +0100,GET /destinos-baratos/destinosEstrelles/hoteles-en-Gironella_ESPA%C3%91A-con-5-estrellas HTTP/1.1,200,8812,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
56,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:25 +0100,GET /hoteles-baratos/ofertas-hoteles-todo-incluido-en-salou_ESPA%C3%91A.html HTTP/1.1,200,5645,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
57,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:27 +0100,GET /hoteles-baratos/ofertas-hoteles-todo-incluido-en-santa-susana_ESPA%C3%91A.html HTTP/1.1,200,6144,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
58,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:27 +0100,GET /destinosEstrelles/hoteles-en-Muchamiel_ESPA%C3%91A-con-5-estrellas HTTP/1.1,200,8806,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-
59,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:03:11:29 +0100,GET /hoteles-baratos/ofertas-hoteles-todo-incluido-en-cartaya_ESPA%C3%91A.html HTTP/1.1,200,4261,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),VLOG=-

## - Exercici 2

Neteja, preprocesa, estructura i transforma (dataframe) les dades del registre d'Accés a la web.

Analitzem el contingut dels camps per tal de detectar camps susceptibles de ser eliminats

In [3]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261873 entries, 0 to 261872
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   remote_host    261873 non-null  object
 1   IP_client      261873 non-null  object
 2   user_identity  0 non-null       float64
 3   user_name      27 non-null      object
 4   data_time      261873 non-null  object
 5   request        261836 non-null  object
 6   status         261873 non-null  int64
 7   size           219538 non-null  object
 8   referer        162326 non-null  object
 9   user_agent     261654 non-null  object
 10  unknown        261873 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 22.0+ MB

In [4]:
logs.isnull().sum()

remote_host           0
IP_client             0
user_identity    261873
user_name        261846
data_time             0
request              37
status                0
size              42335
referer           99547
user_agent          219
unknown               0
dtype: int64

In [5]:
logs['unknown'].value_counts()

VLOG=-    261873
Name: unknown, dtype: int64

Veiem que el camp **user_identity** té tots el valors nulls i que el camp **unknown** tots els registres tenen el mateix valor.   
Decidim per tant eliminar-los

In [18]:
logs.drop(['user_identity', 'unknown'], axis=1, inplace=True)
logs.head()

,remote_host,IP_client,user_name,data_time,request,status,size,referer,user_agent
0,localhost,127.0.0.1,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
1,localhost,127.0.0.1,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
2,localhost,127.0.0.1,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
3,localhost,127.0.0.1,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
4,localhost,127.0.0.1,NaN,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)

Desdoblem el camp **data_time** en 3 nous camps: **date, time i time_zone**.     
Eliminem el camp **data_time**

In [19]:
logs.insert(4,'date',logs['data_time'].str.split(':',1).str[0])
logs.insert(5,'time',logs['data_time'].str.slice(-14,-5))
logs.insert(6, 'time_zone',logs['data_time'].str.slice(-5))  
logs.drop(['data_time'], axis=1, inplace=True)               #Eliminem el camp data_time
logs.head()

,remote_host,IP_client,user_name,date,time,time_zone,request,status,size,referer,user_agent
0,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
1,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
2,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
3,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
4,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)

Desdoblem el camp **request** en 3 camps: **type_request, request i protocol**

In [20]:
logs.insert(6,'type_request',logs['request'].str.split(' ').str[0])
logs.insert(8,'protocol',logs['request'].str.split(' ').str[2])
logs['request']=logs['request'].str.split(' ').str[1]
logs.head()

,remote_host,IP_client,user_name,date,time,time_zone,type_request,request,protocol,status,size,referer,user_agent
0,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS,*,HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
1,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS,*,HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
2,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS,*,HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
3,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS,*,HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
4,localhost,127.0.0.1,NaN,23/Feb/2014,03:10:31,+0100,OPTIONS,*,HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)

## - Exercici 3

Geolocalitza les IP's.

Per geolocalitzar utilitzem el mòdul ip2geotools.  
Busquem la freqüencia de IP's i en funció de la quantitat de ip's diferents que ens surtin, establirem un criteri per tal de geolocalitzar només les més repetides, ja que el procés de geolocalitzar és lent

In [21]:
from ip2geotools.databases.noncommercial import DbIpCity

In [22]:
logs['IP_client'].value_counts()

66.249.76.216      46382
80.28.221.123      14725
127.0.0.1          13892
217.125.71.222      5201
66.249.75.148       3558
                   ...
84.123.150.27          1
217.130.150.116        1
202.46.52.23           1
216.151.130.170        1
206.198.5.33           1
Name: IP_client, Length: 2921, dtype: int64

Creem un nou df **Ip_procedencia** on tindrem les IP's, les visites i les dades de geolocalització

In [23]:
IP_procedencia=logs['IP_client'].value_counts().rename_axis('IP').reset_index(name='visits')
IP_procedencia

                   IP  visits
0       66.249.76.216   46382
1       80.28.221.123   14725
2           127.0.0.1   13892
3      217.125.71.222    5201
4       66.249.75.148    3558
...               ...     ...
2916    84.123.150.27       1
2917  217.130.150.116       1
2918     202.46.52.23       1
2919  216.151.130.170       1
2920     206.198.5.33       1

[2921 rows x 2 columns]

In [24]:
IP_procedencia.describe().round(2)

         visits
count   2921.00
mean      89.65
std      949.37
min        1.00
25%        2.00
50%       31.00
75%       81.00
max    46382.00

Veiem que en total tenim 2921 visites úniques. La mitja de visites per IP es de 89.65 i que 81 IP's realitzen el 75% del total de visites (3º cuartil).
Com que el procès de geolocalització és lent, ens quedarem només amb les 81 ip's amb més visites i són les que geolocalitzarem

In [25]:
IP_procedencia.drop(range(82,2921), axis=0, inplace=True)
IP_procedencia

                IP  visits
0    66.249.76.216   46382
1    80.28.221.123   14725
2        127.0.0.1   13892
3   217.125.71.222    5201
4    66.249.75.148    3558
..             ...     ...
77   208.43.225.85     313
78     83.43.71.59     310
79     85.55.167.1     309
80  193.111.141.52     301
81  188.119.219.26     289

[82 rows x 2 columns]

Utilitzem la llibreria ip2geotools per tal de geolocalitzar les Ip's

In [26]:
#Creem diferents funcions que retornen latitude, longitude, city, region, country en funció del paàmetre ip
def latitude(ip):
    try:
        g=DbIpCity.get(ip,api_key='free')
        return g.latitude
    except:
        return np.nan

def longitude(ip):
    try:
        g=DbIpCity.get(ip,api_key='free')
        return g.longitude
    except:
        return np.nan   

def city(ip):
    try:
        g=DbIpCity.get(ip,api_key='free')
        return g.city
    except:
        return np.nan
    
def region(ip):
    try:
        g=DbIpCity.get(ip,api_key='free')
        return g.region
    except:
        return np.nan 

def country(ip):
    try:
        g=DbIpCity.get(ip,api_key='free')
        return g.country
    except:
        return np.nan
    
latitude('176.31.255.177')

50.6915893

Creem els nous camps amb la informació de geolocalització

In [28]:
IP_procedencia['latitude'] = IP_procedencia['IP'].apply(latitude)
IP_procedencia['longitude'] = IP_procedencia['IP'].apply(longitude)
IP_procedencia['city'] = IP_procedencia['IP'].apply(city)
IP_procedencia['region'] = IP_procedencia['IP'].apply(region)
IP_procedencia['country'] = IP_procedencia['IP'].apply(country)
IP_procedencia

,IP,visits,latitude,longitude,city,region,country
0,66.249.76.216,46382,37.389389,-122.083210,Mountain View,California,US
1,80.28.221.123,14725,40.416705,-3.703582,Madrid,Madrid,ES
2,127.0.0.1,13892,36.733438,-119.833235,None,None,ZZ
3,217.125.71.222,5201,40.416705,-3.703582,Madrid,Madrid,ES
4,66.249.75.148,3558,37.389389,-122.083210,Mountain View,California,US
...,...,...,...,...,...,...,...
77,208.43.225.85,313,38.895037,-77.036543,Washington D.C.,District of Columbia,US
78,83.43.71.59,310,40.416705,-3.703582,Madrid,Madrid,ES
79,85.55.167.1,309,40.434653,-3.814834,Pozuelo de Alarcón,Madrid,ES
80,193.111.141.52,301,NaN,NaN,Amsterdam (Nieuwmarkt en Lastage),North Holland,NL
81,188.119.219.26,289,41.382894,2.177432,Barcelona,Catalonia,ES

In [ ]:
Mirem de quins contries provenen

In [41]:
IP_procedencia.groupby(['country'])['visits'].agg(sum).sort_values(ascending=False)

country
US    62500
ES    46937
ZZ    13892
SE     1821
FR     1044
IT      831
DE      552
VG      426
NL      301
Name: visits, dtype: int64